NEXT_PUBLIC_SUPABASE_URL=https://wzglegkvqyvtkmcfrkxn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind6Z2xlZ2t2cXl2dGttY2Zya3huIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc5NDY0MTAsImV4cCI6MjA3MzUyMjQxMH0.a9Q--F3ZZF82FcdH3M-YvCKnM4A19i-ucVAlP5VGP1g
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind6Z2xlZ2t2cXl2dGttY2Zya3huIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Nzk0NjQxMCwiZXhwIjoyMDczNTIyNDEwfQ.JAlo6zJJVTpZ6fNrtjjJCnmoSTTl-fWDGBLPZ9TORew
SUPABASE_URL=https://wzglegkvqyvtkmcfrkxn.supabase.co
